@import "./Variables.scss";

.card-container{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgba(5, 5, 5, 0.842);
    border-radius: 10px;
    color: wheat;
}

.title-container{
    display: flex;
    font-size: 2vh;
    justify-content: space-between;
    padding: 1px 10px;
}

.info-container{
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
}

button{
    @include buttonStyle()
}