@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.button-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    height: 5vh;

    h3{
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        font-size: 3vh;
    }
    button{
        @include buttonStyle()
    }
}

.ag-header-cell-label {
    justify-content: center;
    font-size: 17px;
    color: rgba(124, 252, 188, 0.747);
 }
