@font-face {
    font-family: myFirstFont;
    src: url(../assets/fonts/get-schwifty/get_schwifty.ttf);
  }
  
  @mixin buttonStyle(){
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 1px 80px;
    background-color: rgba(32, 216, 32, 0.671);
    font-family: $rickFont;
    border: none;
    border-radius: 10px
}
$rickFont: myFirstFont;