.App {
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}